[Unit]
Description=Service to configure k8s worker node
After=multi-user.target

[Service]
User=root
Group=root
ExecStart=/bin/bash /root/configure-k8s-worker-suse/configure-k8s-worker-suse.sh -y

[Install]
WantedBy=multi-user.target
